%textDecoration {
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
}

.Main {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid;

  .title {
    opacity: 1;
    transition: .5s ease;

    &:hover~ul {
      opacity: 1;
      transition: 1s ease;
    }
  }

  .description {
    flex: 1;
    text-align: center;
    background-color: white;
    color: black;
  }

  ul {
    @extend %textDecoration;

    padding: 0px;
    margin: 0px;
    list-style-type: none;
    opacity: 0;
    transition: .5s ease;
    /* width: calc((100vw - 120px) / 6); */
    width: 38%;

    p {
      font-size: 11px;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  a {
    @extend %textDecoration;
  }

  @media screen and (max-width: 460px) {
    flex-direction: column;

    ul {
      width: 100vw;
      height: 300px;
      overflow: auto;
    }

    .description {
      width: 100vw;
    }
  }
}